.goo {
  font-weight: 800;
  font-size: 3rem;
  line-height: 1.35;
  display: inline;
  box-decoration-break: clone;
  /* background: #fff; */
  padding: 0.5rem 1rem;
  filter: url('#goo');
  background: #57606f;
  color: #f1f2f6;
}

.goo:focus {
  outline: 0;
}

.description {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; */
  font-family: 'Raleway', sans-serif;
}
