.borrar {
  height: 200px;
  background-color: red;
}
.navbar {
  background-color: #1b1464;
}
.hero {
  /* background-color: #1b1464; */
  height: 100vh;
  /* background-image: url('fondo_azul.png'); */
}
.description {
  background-color: brown;
  height: 100vh;
  background-image: url(../images/rainbow-nebula.jpg);
  background-position: center center;
  background-repeat: no-repeat;

  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}
