/* paletas:
https://flatuicolors.com/palette/cn
https://flatuicolors.com/palette/defo
*/

.borrar {
  min-height: 200px;
  background-color: red;
}
.navbar {
  background-color: #2f3542;
}
.hero {
  min-height: 100vh;
}
.fondo-espacio {
  min-height: 200vh;
  background-image: url(../images/rainbow-nebula.jpg);
  background-position: center center;
  background-repeat: no-repeat;

  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}
.description {
  min-height: 100vh;
  /* background-image: url(../images/rainbow-nebula.jpg); */
  /* background-position: center center;
  background-repeat: no-repeat;

  background-attachment: fixed;
  background-size: cover;
  background-color: #464646; */
}
.proyectos {
  min-height: 100vh;
  /* background-color: #f1f2f6; */
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
}

.contacto {
  min-height: 100vh;
  background-color: #2f3542;
}

.social-link {
  margin: 0 10px;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
}
.social-link.twitter {
  background-image: url(../images/twitter.svg);
}
.social-link.facebook {
  background-image: url(../images/facebook.svg);
}
.social-link.github {
  background-image: url(../images/github.svg);
}
.social-link.instagram {
  background-image: url(../images/instagram.svg);
}
